* {
    cursor: url("images/icons/cursor.png"), auto;
    position: relative;
    transition: 0.5s all;
}

body,
html {
    background-color: white;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

#home {
    display: block;
    min-height: 100%;
    min-width: 100%;
    background-image: url("images/background/wallpaper-upscaled.jpg");
    background-size: cover;
    position: relative;
    z-index: 0;
}

#wish {
    display: none;
    min-height: 110%;
    min-width: 110%;
    background-image: url("images/background/wish-bg.webp");
    background-size: 100%;
    position: absolute;
    z-index: 0;
}

.footer {
    bottom: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    left: 25%;
    right: 25%;
    position: fixed;
    text-align: center;
    z-index: 0;
}

.footer p {
    font-size: 1.5vh;
    line-height: 1vh;
    z-index: 0;
}

.footer a {
    color: #C2524E;
}

.footer a:hover {
    color: #f88682;
}

#homeScreen {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
}

p {
    color: white;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
    line-height: 4vh;
    padding: 2px;
    position: relative;
    text-align: center;
}

h1 {
    color: white;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 7vh;
    line-height: 4vh;
    padding: 2px;
    position: relative;
    text-align: center;
}

.caption {
    display: block;
}

.charImage {
    padding: 2vh 15vh;
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.charImage p {
    margin: 0.25vh;
}

.charImage img {
    width: 30vh;
    margin-bottom: 2vh;
}

#banner {
    transform: translateY(40%);
    width: 110vh;
}

button {
    background-color: transparent;
    background-size: cover;
    border: 0.5vh white;
    border-radius: 3vh;
    display: inline-block;
    left: 120vh;
    bottom: -30vh;
    z-index: 9999;
}

button img {
    width: 30vh;
}

#wishBtn:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

#four-star, #five-star {
    position: relative;
    display: none;
    min-height: 100%;
    min-width: 100%;
    background-size: cover;
}

#charImg {
    left: -10vh;
    position: relative;
    width: 200vh;
    transform: scale(2);
    filter: brightness(0%);
}

#charInfo {
    opacity: 0;
    z-index: 999;
}

#element {
    width: 15vh;
    position:fixed;
    left: 20vh;
    top: 50vh;
    z-index: 1;
}

@font-face {
    font-family: genshin;
    src: url(fonts/genshin.woff);
  }

#charName {
    position: absolute;
    display: inline-block;
    font-size: 5vh;
    top: 50vh;
    left: 33vh;
    font-family: 'genshin';
    z-index: 999;

}